body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminal {
    padding: 1ch;

    background-color: gray;
    font-family: monospace;
}

#ascii {
    margin: 0;

    width: 100ch;

    background-color: black;
    color: white;
}
